<h1>Avaliable Services:</h1>
<ul>
    <% @services.each do |service| %>
    <li><%= link_to service.cap_service_name, service_path(service) %></li>
    <% end %>
</ul>

<div>
    <%= link_to "Add a Service", new_service_path %>
</div>