<div class="page-body services-background">
<div class="page-body service profile-box">
    <h1 class="page-title">Available Services:</h1>
    <ul>
        <% @services.each do |service| %>
        <li><%= link_to service.cap_service_name, service_path(service) %></li>
        <% end %>
    </ul>

    <div>
        <button class="ui button"><%= link_to "+ Service", new_service_path %></button>
    </div>
</div>
</div>