<div class="page-body petxpert-index-background">
    <h1 class="page-title">Avaliable PetXperts:</h1>
    <ul>
        <% @petxperts.each do |petxpert| %>
        <li><%= link_to "#{petxpert.name.capitalize} - #{petxpert.location.city}", petxpert_path(petxpert) %></li>
        <% end %>
    </ul>

    <div>
        <button class="ui button"><%= link_to "+ Petxpert", new_petxpert_path %></button>
    </div>
</div>