<h1>Avaliable PetXperts:</h1>
<ul>
    <% @petxperts.each do |petxpert| %>
    <li><%= link_to petxpert.name.capitalize, petxpert_path(petxpert) %></li>
    <% end %>
</ul>

<div>
    <%= link_to "Add a petxpert", new_petxpert_path %>
</div>