<div class="page-body edit-background">

    <h1 class="page-title">All Pets</h1>

    <ul>
    <%@pets.each do |pet|%>
    <li><%= link_to pet.name, pet_path(pet) %></li>
    <% end %>
    </ul>

</div>