<div class="page-body user-index-background">
    <h1 class="page-title">All Users:</h1>
    <ul>
        <% @users.each do |user| %>
        <li><%= link_to user.name.titleize, user_path(user) %></li>
        <% end %>
    </ul>

    <div>
        <button class="ui button"><%= link_to "+ User", new_user_path %></button>
    </div>
</div>