/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /********************** nav bar and buttons ****************************/

 .ui.secondary.menu {
    padding: 15px 15px 0 15px;
    background-color: gray;
 }
 
 .ui.button.create-button{
   margin-top: 5px;
   margin-bottom: 10px;
 }

 .ui.button.delete-button{
  margin-top: 5px;
  margin-bottom: 10px;
}

 .field.field-shrink{
   width: 25%;
 }

 /***************************** page body ********************************/

 .page-body{
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 15px;
 }

 .page-title{
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 3vw;
 }

 /****************** warnings ****************************/

 .warning{
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 15px;
   color: red;
 }

 .notice{
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 15px;
   color: red; 
 }

 /* ******************** profile box ********************* */
 
.profile-box{
    border-radius: 10px;
    width: 30%;
}

.user.profile-box{
  background-color:hsla(240, 6%, 79%, 0.8);
  width: 40%;
}

.pet.profile-box{
  background-color:hsla(243, 24%, 84%, 0.7);
  padding-bottom: 5px;
}

.pet-form.profile-box{
  background-color:hsla(243, 24%, 84%, 0.7);
  padding-bottom: 10px;
}

.petxpert.profile-box{
  background-color:hsla(240, 17%, 75%, 0.9);
  width: 35%;
  padding-bottom: 10px;
}

.petxpert-form.profile-box{
  background-color:hsla(135, 3%, 24%, 0.2);
  padding-bottom: 10px;
  width: 42%;
  margin-left: auto;
  margin-right: auto;
}

.appointment.profile-box{
  background-color:hsla(135, 3%, 24%, 0.2);
  padding-bottom: 10px;
  width: 42%;
  margin-left: auto;
  margin-right: auto;
}



