// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.location-box {
    background-image: url("dog_travel.jpg");
    height: 100%;
    background-size: cover;
 }

.wash-photo{
    background-image: url("dc-location.jpg");
    height: 100%;
    background-size: cover;
}

.nyc-photo{
    background-image: url("nyc-location.jpg");
    height: 100%;
    background-size: cover;
}

.buff-photo{
    background-image: url("buffalo-location.jpg");
    height: 100%;
    background-size: cover;
}

.loc-default-background{
    background-image: url("default-location.jpg");
    height: 100%;
    background-size: cover;
}