// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.services-background{
    background-image: url("services_background.jpg");
    height: 100%;
    background-size: cover;
}