// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-login {
    background-image: url("user_login.jpg");
    height: 100%;
    background-size: cover;
}

.petxpert-login{
    background-image: url("petxpert_login.jpg");
    height: 100%;
    background-size: cover;
}