<h1>Welcome to Fetch!</h1>

<h2>We're currently serving the following areas:</h2>
<ul>
<% @locations.each do |location| %>
<li><%= link_to location.city, location_path(location) %></li>
<% end %>
</ul>

