<% if @location.city == "Washington, DC" %>
<div class="page-body wash-photo">
<div class="page-body location-show1 profile-box">
<% elsif @location.city == "New York, NY" %>
<div class="page-body nyc-photo">
<div class="page-body location-show2 profile-box">
<% elsif @location.city == "Buffalo, NY" %>
<div class="page-body buff-photo">
<div class="page-body location-show3 profile-box">
<% else %>
<div class="page-body loc-default-background">
<div class="page-body location-show4 profile-box">
<% end %>
            
        <h1 class="page-title"><%=@location.city%></h1>

        <h2>Available Services:</h2>
        <ul>
        <% @location.services.uniq.each do |service|%>
        <li><%= link_to service.cap_service_name, service_path(service) %></li>
        <% end %>
        </ul>

        <h2>Available PetXperts:</h2>
        <ul>
        <% @location.petxperts.each do |petxpert|%>
        <li><%= link_to petxpert.name, petxpert_path(petxpert) %></li>
        <% end %>
        </ul>
    </div>
</div>
</div>